html{
  overflow-x: hidden;
}
.menu-principal {
  width: 100%;
  background-color: #181920;
  height: 130px;
  border-bottom: 4.5px solid #ba1f33;
}
.logo img {
  height: 100px;
  margin-left: 15%;
  margin-top: 15px;
}
.busca{
  align-items: center;
}
.busca input {
  background-image: url(../img/icone-search.png);
  background-repeat: no-repeat;
  background-position: 96%;
  background-color: #fbfcfa;
  width: 95%;
  padding: 12px;
  height: 40px;
  margin-top: 40px;
  border: 1px solid #fbfcfa;
  border-radius: 10px;
  outline: none;
}
.busca{
  text-align: center;
}
.redes-sociais ul li {
  display: inline-block;
  list-style: none;
  padding: 5px;
}
.redes-sociais ul {
  margin-top: 40px;
  padding: 0px;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .logo img {
    height: 90px;
    margin-left: 5%;
    margin-top: 15px;
  }
}
@media screen and (min-width: 576px) {
  .busca input {
    width: 100%;
  }
  .logo img {
    height: 90px;
  }
  .redes-sociais ul li {
    padding: 2px;
  }
}
@media screen and (min-width: 768px){
  .logo img {
    height: 96px;
  }
  .redes-sociais ul li {
    padding: 4px;
  }
  .busca input {
    width: 89%;
  }
}
@media screen and (min-width: 992px){
  .redes-sociais ul li {
    padding: 5px;
  }
  .busca input {
    width: 90%;
  }
  .logo img {
    height: 98px;
  }
}
@media screen and (min-width: 1200px) {
  .busca input {
    width: 92%;
  }
  .redes-sociais ul li {
    padding: 7px;
  }
  .logo img {
    height: 100px;
  }
}