html{
  overflow-x: hidden;
}
.menu-principal {
  width: 100%;
  background-color: #181920;
  height: 130px;
  border-bottom: 4.5px solid #ba1f33;
}
.logo img {
  height: 100px;
  margin-left: 15%;
  margin-top: 15px;
}
.busca{
  align-items: center;
}
.busca input {
  background-image: url(../img/icone-search.png);
  background-repeat: no-repeat;
  background-position: 96%;
  background-color: #fbfcfa;
  width: 95%;
  padding: 12px;
  height: 40px;
  margin-top: 40px;
  border: 1px solid #fbfcfa;
  border-radius: 10px;
  outline: none;
}
.busca{
  text-align: center;
}
.redes-sociais ul li {
  display: inline-block;
  list-style: none;
  padding: 5px;
}
.redes-sociais ul {
  margin-top: 40px;
  padding: 0px;
  width: 60;
}
.menu-urls{
  width: 100%;
  height: 120px;
}
.menu {
  width: 100%;
  height: 100px;
  border-bottom: 3px solid #efefef;
}
.menu ul {
  width: 100%;
  margin-top: 10px;
}
.menu ul li {
  display: inline-block;
  text-transform: uppercase;
}
.menu ul li:hover{
  border-bottom: solid 3.5px #ba1f33;
}
.menu ul li a {
  text-decoration: none;
  color: black;
  font-family: Cocogoose;
  transition-property: color;
  transition-duration: 0.4s;
}
.menu ul li a:hover {
  color: #ba1f33;
}
@media screen and (max-width: 768px) {
  .busca input {
    width: 80%;
  }
  .logo img {
    height: 95px;
    margin-left: 22%;
  }
  .redes-sociais ul li {
    padding: 2px;
  }

  .menu {
    height: 77px;
  }
  .menu ul {
    width: 100%;
  }
  .menu ul li a {
    font-size: 18px;
  }
  .menu ul li:hover {
    height: 50px;
  }
  .menu  ul li {
    padding: 12px;
  }
}
@media screen and (min-width: 768px){
  .logo img {
    height: 96px;
  }
  .redes-sociais ul li {
    padding: 4px;
  }
  .busca input {
    width: 89%;
  }

  .menu ul li a {
    font-size: 19px;
  }
  .menu ul li:hover {
    height: 55px;
  }
  .menu  ul li {
    padding: 18px;
  }
  .menu ul {
    margin-left: 6%;
  }
}
@media screen and (min-width: 992px){
  .redes-sociais ul li {
    padding: 5px;
  }
  .busca input {
    width: 90%;
  }
  .logo img {
    height: 98px;
  }

  .menu ul {
    margin-left: 8%;
  }
  .menu  ul li {
    padding: 24px;
  }
  .menu ul li a {
    font-size: 20px;
  }
  .menu ul li:hover {
    height: 65px;
  }
}
@media screen and (min-width: 1200px) {
  .busca input {
    width: 92%;
  }
  .redes-sociais ul li {
    padding: 7px;
  }
  .logo img {
    height: 100px;
    margin-left: 25%;
  }
  .redes-sociais ul {
    margin-left: 20%;
  }

  .menu ul {
  margin-left: 17%;
  }
}
