.menu-principal {
  width: 100%;
  background-color: #181920;
  height: 130px;
  border-bottom: 4.5px solid #ba1f33;
}
.logo img{
  height: 110px;
  width: 150px;
}
.busca {
    text-align: center;
    width: 30%;
    float: right;
    align-items: center;
    justify-content: center;
}
  
.busca input {
 background-image: url(../img/icone-search.png);
 background-repeat: no-repeat;
 background-position: 96%;
 background-color: #fbfcfa;
 width: 600px;
 padding: 12px;
 height: 40px;
 margin-top: 40px;
 border: 1px solid #fbfcfa;
 border-radius: 10px;
 position: absolute;
 left: 20%;
 align-items: center;
 justify-content: center;
 outline: none;
}
.redes-sociais ul li {
 margin-left: 25px;
 display: inline-block;
 float: left;
 list-style: none;
}
.redes-sociais ul li img {
 height: 25px;
}
.redes-sociais {
 float: right;
 width: 26%;
 position: absolute;
 left: 90%;
 margin-top: 30px;
}
  