* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
html {
  overflow-x: hidden;
}
ul {
  padding: 0px !important;
}
h1 {
  width: 750px;
  position: relative;
  left: 25%;
}

.menu-principal {
  width: 100%;
  background-color: #181920;
  height: 130px;
  border-bottom: 4.5px solid #ba1f33;
}

main,
.content {
  margin: 0 auto;
  width: 980px;
  position: relative;
}

.logo {
  float: left;
  padding: 16px;
  width: 70%;
  position: absolute;
  right: 40%;
  margin-top: px;
}
.logo img {
  height: 100px;
  width: 100px;
}

.redes-sociais ul li {
  margin-left: 25px;
  display: inline-block;
  float: left;
  list-style: none;
}
.redes-sociais ul li img {
  height: 25px;
}
.redes-sociais {
  float: right;
  width: 26%;
  position: absolute;
  left: 90%;
  margin-top: 30px;
}

.header-2 {
  background-color: #fbfcfa;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  height: 85px;
}

.menu-urls {
  height: 80px;
  border-bottom: 3px solid #efefef;
}

.menu ul li {
  display: inline-block;
  color: #8b8b8b;
  margin-left: 30px;
  position: relative;
  left: 24%;
}

.menu ul li:hover {
  border-bottom: solid 3.5px #ba1f33;
  height: 50px;
}

.menu ul li a {
  color: #181920;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Cocogoose;
  letter-spacing: 1.5px;
  transition-property: color;
  transition-duration: 0.4s;
}

.menu ul li a:hover {
  color: #ba1f33;
}

.menu {
  width: 70%;
  float: left;
}

.busca {
  text-align: center;
  width: 30%;
  float: right;
  align-items: center;
  justify-content: center;
}

.busca input {
  background-image: url(../img/icone-search.png);
  background-repeat: no-repeat;
  background-position: 96%;
  background-color: #fbfcfa;
  width: 600px;
  padding: 12px;
  height: 40px;
  margin-top: 40px;
  border: 1px solid #fbfcfa;
  border-radius: 10px;
  position: absolute;
  left: 20%;
  align-items: center;
  justify-content: center;
  outline: none;
}

.col-100 {
  width: 100%;
  float: left;
  position: relative;
}
.slider-principal img {
  position: relative;
  margin-top: 2.9px;
  width: 1366px;
  height: 600px;
}
button.slick-prev {
  font-size: 0px;
  border: none;
  width: 25px;
  height: 51px;
  background-image: url('../img/anterior.png');
  background-color: transparent;
  position: absolute;
  z-index: 9;
  top: 45%;
  left: 14%;
}

button.slick-next {
  font-size: 0px;
  border: none;
  width: 25px;
  height: 51px;
  background-color: transparent;
  background-image: url('../img/proximo.png');
  position: absolute;
  z-index: 9;
  top: 45%;
  right: 14%;
}
.slick-dots li button {
  font-size: 0px;
  border: 4px solid #ffffff;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.slick-dots {
  margin: 0 auto;
  width: 50%;
  position: absolute;
  left: 44%;
  top: 550px;
}
.slick-list {
  width: 100% !important;
}
.slick-initialized {
  overflow: hidden;
}
.slick-dots li {
  display: inline-block;
  padding-left: 10px;
}
li.slick-active button {
  background-color: #ba1f33;
}
.texto-destaque p {
  display: inline-block;
  color: #191920;
  font-size: 15px;
  padding: 10px;
  font-family: Cocogoose;
  text-transform: uppercase;
}
.col-25 p {
  width: 25%;
  display: inline-block;
  float: left;
  text-align: center;
}
.cartao:before,
.desconto:before,
.cadeado:before,
.entrega:before {
  content: '';
  height: 30px;
  width: 15px;
  display: inline-block;
  float: left;
  background-repeat: no-repeat;
  padding-left: 10px;
}
.cartao:before {
  background-image: url(../img/cartao.png);
  position: absolute;
  width: 100px;
  height: 30px;
  padding: 10px;
  top: 69%;
  right: 88%;
  float: left;
}
.desconto:before {
  background-image: url(../img/porcentagem.png);
  position: absolute;
  width: 100px;
  height: 30px;
  padding: 10px;
  top: 70%;
  right: 63.2%;
  float: left;
}
.cadeado:before {
  background-image: url(../img/cadeado.png);
  position: absolute;
  width: 100px;
  height: 30px;
  padding: 10px;
  top: 65%;
  right: 37%;
  float: left;
}
.entrega:before {
  background-image: url(../img/entrega.png);
  position: absolute;
  width: 100px;
  height: 30px;
  padding: 10px;
  top: 69%;
  right: 14.5%;
  float: left;
}
.texto-destaque h1 {
  border-top: #181920 2px solid;
  border-bottom: #181920 2px solid;
  color: #181920;
  font-size: 30px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: Lemon;
}
.texto-destaque strong {
  color: #931c2c;
}
.texto-destaque {
  text-align: center;
}
.col-3 {
  width: 32.3%;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  float: left;
}
.col-33 {
  width: 25%;
  position: relative;
  margin-left: 75px;
  padding-left: 18px;
  float: left;
}
.bloco-texto {
  margin-top: 2em;
}
h3 {
  font-weight: normal !important;
}

.bloco-texto img {
  height: 250px;
  width: 400px;
  z-index: -1;
}
.back1 {
  position: relative;
}
.btn {
  text-decoration: none;
  justify-content: center;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 21px;
  font-weight: bold;
  color: #fbfcfa;
  margin: 0 5px;
  padding: 15px 15px;
  border: 2px solid #ba1f33;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-family: Cocogoose;
}
.position {
  position: relative;
  left: 60%;
  margin-top: -110px;
  padding-bottom: 100px;
}
.btn:before {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #ba1f33;
  z-index: -1;
  transition: 0.7s ease;
}
.btn1:before {
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
}
.btn:hover::before {
  width: 102%;
  top: 0;
  left: 0;
}
.destaque {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
.destaque p {
  width: 150px;
  display: inline-block;
  color: #191920;
  font-size: 15px;
  padding: 10px;
  font-family: Cocogoose;
  text-transform: uppercase;
  border-top: #181920 2px solid;
  border-bottom: #181920 2px solid;
}
.catalogo {
  width: 100%;
  height: 300px;
}
.catalogo2 {
  width: 100%;
  height: 300px;
  margin-top: 130px;
}
.produtos {
  display: flex;
  float: left;
  width: 25%;
  text-align: center;
  margin-top: 20px;
  margin-left: 120px;
  line-height: 20px;
}
.produtos img {
  width: 300px;
  height: 200px;
}
.produtos img:hover {
  margin-top: 3px;
}
.produto p {
  font-size: 15px;
  font-family: Cocogoose;
  text-transform: uppercase;
}
.produto h4 {
  font-family: Cocogoose;
  text-transform: uppercase;
  font-size: 20px;
  color: #ba1f33;
  margin-top: 5px;
}
.compra {
  text-decoration: none;
  font-size: 15px;
  padding: 12px 12px;
  font-family: Lemon;
  text-transform: uppercase;
  color: #181920;
  border: #181920 2px solid;
}
.compra:hover {
  color: #fbfcfa;
  background-color: #181920;
  border: #181920 2px solid;
}
.bloco-imagem img {
  margin: 0 auto;
  width: 300px;
  height: 200px;
}
.bloco-imagem {
  height: 360px;
  border: 1px solid #c5c5c5;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 10px;
  position: relative;
  right: 12%;
}
.destaque2 {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: -50px;
}
.destaque2 p {
  width: 220px;
  display: inline-block;
  color: #191920;
  font-size: 15px;
  padding: 10px;
  font-family: Cocogoose;
  text-transform: uppercase;
  border-top: #181920 2px solid;
  border-bottom: #181920 2px solid;
}
.col-2 {
 width: 50%;
}
.col-2 img {
  height: 500px;
  margin-left: 150px;
}
.back2 {
  position: relative;
  justify-content: center;
  margin-top: 100px;
  margin-left: -30px;
}
.planos {
  margin-top: 70px;
}
.texto-planos {
  float: right;
  margin-right: -620px;
  width: 500px;
  height: 80px;
  background-color: #191920;
  color: #fbfcfa;
  line-height: 10px;
  padding-left: 10px;
  border-radius: 10px;
  border: 3px solid #ba1f33;
}
.texto-planos a, .texto-planos2 a, .texto-planos3 a, .texto-planos4 a {
  text-decoration: none; 
  color: #fbfcfa;
}
.texto-planos2 {
  float: right;
  margin-right: -620px;
  width: 500px;
  height: 80px;
  background-color: #191920;
  color: #fbfcfa;
  line-height: 10px;
  padding-left: 10px;
  border-radius: 10px;
  border: 3px solid #ba1f33;
  margin-top: 100px;
}
.texto-planos3 {
  float: right;
  margin-right: -620px;
  width: 500px;
  height: 80px;
  background-color: #191920;
  color: #fbfcfa;
  line-height: 10px;
  padding-left: 10px;
  border-radius: 10px;
  border: 3px solid #ba1f33;
  margin-top: 200px;
}
.texto-planos4 {
  float: right;
  margin-right: -620px;
  width: 500px;
  height: 80px;
  background-color: #191920;
  color: #fbfcfa;
  line-height: 10px;
  padding-left: 10px;
  border-radius: 10px;
  border: 3px solid #ba1f33;
  margin-top: 300px;
  line-height: 2px;
}
.texto-planos, .texto-planos2, .texto-planos3, .texto-planos4 p {
  float: right;
  line-height: 2px;
  font-family: Cocogoose;
  text-transform: uppercase;
}
.texto-planos ul li {
  list-style: none;
  display: flex;
  position: relative;
  left: 50%;
  top: 27px;
  margin-top: -60px;
}
.texto-planos2 ul li {
  list-style: none;
  display: flex;
  position: relative;
  left: 50%;
  top: 25px;
  margin-top: -60px;
}
.texto-planos3 ul li{
  list-style: none;
  display: flex;
  position: relative;
  left: 50%;
  top: 25px;
  margin-top: -60px;
}
.texto-planos4 ul li {
  list-style: none;
  display: flex;
  position: relative;
  left: 50%;
  top: 25px;
  margin-top: -60px;
}
.texto-planos, .texto-planos2, .texto-planos3, .texto-planos4 h2, h4 {
  font-family: Lemon;
}
.secoes {
  margin-top: -420px;
}
.col-4 {
  float: left;
  width: 25%;
  text-align: center;
}
.col-4 img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 90px;
  vertical-align: middle;
  cursor: pointer;
}
.col-4 img:hover {
  margin-top: 37px !important;
  position: relative !important;
}
.bloco-logos {
  height: 170px;
}
.bloco-logos img {
  margin-top: 35px;
}
.footer-1 h3 {
  text-align: left;
}
.footer-1 p {
  width: 90%;
  text-align: left;
}
.footer-1 {
  background-color: #181920;
  color: #ffffff;
}
.footer-2 {
  background-color: black;
  width: 100%;
  height: 90px;
  color: #c1c1c1;
}
.footer-2 p {
 font-family: Lemon;
 font-size: 18px;
 margin-top: 30px;
 margin-left: 85px;
}
.busca2 {
  text-align: center;
  width: 30%;
  float: right;
  align-items: center;
  justify-content: center;
}
.busca2 input {
  background-image: url(../img/mensagem.png);
  background-repeat: no-repeat;
  background-position: 96%;
  width: 500px;
  padding: 12px;
  height: 45px;
  border: 1px solid #fbfcfa;
  border-radius: 6px;
  position: absolute;
  left: 90%;
  bottom: 7px;
  align-items: center;
  justify-content: center;
  outline: none;
}
input::placeholder {
  color: #181920;
}
.col-2 {
  width: 50%;
  position: relative;
  float: left;
}
.footer-texto h3 {
  font-family: Cocogoose;
  font-size: 18px;
  text-transform: uppercase;
}
.footer-texto p {
  font-family: Lemon;
  font-size: 12px;
  color: #898989;
}
.clock {
  color: #898989;
}
.clock:before {
  content: '';
  height: 15px;
  width: 15px;
  display: inline-block;
  background-image: url(../img/clock.png);
  float: left;
  background-repeat: no-repeat;
  padding-left: 5px;
}
.local:before,
.emailico:before,
.telefoneico:before {
  content: '';
  height: 15px;
  width: 15px;
  display: inline-block;
  float: left;
  background-repeat: no-repeat;
  padding-left: 10px;
}
.local:before {
  background-image: url(../img/local1.png);
  position: relative;
  right: 3px;
}
.emailico:before {
  background-image: url(../img/email.png);
  position: relative;
  right: 8px;
  height: 12px;
  width: 12px;
}
.telefoneico:before {
  background-image: url(../img/telefone.png);
  position: relative;
  right: 4px;
}
@font-face {
  font-family: Cocogoose;
  src: url(./CocogooseProItalic-trial.ttf);
}
@font-face {
  font-family: Lemon;
  src: url(./LEMONMILK-Bold.otf);
}